<div id="shopping-lists">

    <div class="row">
        <h3>My shopping lists ({{myShoppingLists.length}})</h3>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
            <div class="input-group">
                <input type="text" class="form-control" id="newListTitle" ng-model="newListTitle" placeholder="Fill title" required>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnAddNewList" ng-click="create()">Create new</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <ul>
            <li class="shopping-list" ng-repeat="list in myShoppingLists" value="{{list.id}}">{{list.title}}</li>
        </ul>
    </div>

</div>
